html
  head
    title Albert Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
                img(src="/10static/img/logo.png")
                | HDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]
            
    block content
    footer#footer
        | Copyright © 2020 AlbertDanceAcademy.com | All right reserved